
.Header{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

 .Inactive{
    padding: 10px 60px;
    cursor: pointer;
    opacity: 0.6;
    background: white;
    border: 0;
    outline: 0;
}

.Active{
    padding: 10px 60px;
    cursor: pointer;
    opacity: 1;
    background: white;
    border: 0;
    outline: 0;
    border-bottom: 2px solid black;
    transition: border-bottom .1s linear, opacity .1s linear;
}

.flex{
    display: flex;
    justify-content: space-between;
    text-align: left;
    border-bottom: 1px solid black;
}

.flex .item{
    display: flex;
    align-items: center;
}

.flex .info{
    padding-left: 1em;
 }

.msg{
    text-indent: 2pc;
}

.plus{
    color: green;
}

.minus{
    color: red;
}




